.image-list {
    display: flex;
    flex-direction: column;
}

.image-container {
    max-width: 100%;
    object-fit: contain;
    padding: 20px;
    position: relative;
}

.image-container img {
    max-width: 100%;
}

.menu {
    position: absolute;
    bottom: 26px;
    left: 24px;
    z-index: 1;
}
