.image-container {
    max-width: 100%;
    object-fit: contain;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-container img {
    max-width: 100%;
}

.menu {
    position: absolute;
    top: 26px;
    left: 24px;
    z-index: 1;
}
