.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    border: 1px solid gray;
    flex-grow: 1;
    max-width: 50%;
    max-height: 400px;
    align-items: center;
}

.result-container {
    max-width: 100%;
    max-height: 550px;
}

.image-container img {
    width: auto;
    height: 100%;
    max-height: 300px;
    object-fit: contain;
    max-width: 100%;
}

.result-container img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    max-width: 100%;
}

.drop-zone {
    border: 1px dashed red;
    background-color: lightgray;
}
